.app {
  height: 100%;
  font-size: 16px;
  // font-size: 12px;
  font-family: monospace;
  color: $grey;
  word-break: break-all;
  // TODO: Handle document resize
  overflow: hidden;
  cursor: default;
  user-select: none;
  // background: $black;
  
  .rows {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    justify-content: center; // Attempt ball accuracy fix

    li {
      display: grid;
      grid-template-columns: repeat(auto-fill, 9px);
      // grid-template-columns: repeat(auto-fill, 6.61px);
      align-items: center;
      // justify-content: space-evenly;
      justify-content: center;

      .char-tile {
        height: 19px;
        width: 9px;
        // height: 16px;
        // width: 6.61px;
      }
    }
  }
}