.center-line {
  position: fixed;
  font-size: 16px;
  height: 19px;
  width: 8.8px;
  color: black;
  // color: $light-green;
}

.vertical-wall, .horizontal-wall {
  position: fixed;
  color: black;
}