.char-tile {
  color: $grey;
  // color: $dark-green;
  
  &.is-clickable {
    cursor: pointer;
  }
  
  &.active {
    // Only fade in, no fade out, fixes score visual bug
    // TODO: Probably need another, faster one for paddle
    transition: color 1s;
    color: black;
    // color: $light-green;

    &.ball {
      // Must be less than 30fps equivalent
      // TODO: I cant make that work
      transition: none;
    }

    &.selected {
      font-weight: bold;
    }

  }
}