.char-tile {
  color: $grey;
  // color: $dark-green;
  
  &.is-clickable {
    cursor: pointer;
  }
  
  &.active {
    // Only fade in, no fade out, fixes score visual bug
    transition: color 1s;
    color: black;
    // color: $light-green;

    &.ball, &.paddle {
      transition: none;
    }

    &.selected {
      font-weight: bold;
    }

  }
}