$grey: rgb(235, 235, 235);
$black: #0D0208;
$dark-green: #003B00;
$green: #008F11;
$light-green: #00FF41;

@import "./styles/app.scss";
@import "./styles/char-tile.scss";

body {
  margin: 0;
  height: 100vh;

  main {
    height: 100%;
  }
}

* {
  box-sizing: border-box;
}